/**
 * todo: make this suck less
 */

li[data-item-type='tweet'] {
	-webkit-transition: margin 0.4s ease-out;
}	

.blacklist, 
.blacklist * {
	cursor: default !important;
	border: none !important;
	background: rgb(255,255,255) !important;
	text-decoration: none !important;
	color: rgba(0,0,0,0.1) !important;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6) !important;
	-webkit-user-select: none !important;
	user-select: none !important; 
}

.blacklist {
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 10px 10px rgba(255,255,255,1);
	-webkit-transform: scale(0.9);
	-webkit-user-select: none !important;
}

.blacklist img {
	-webkit-filter: blur(2px);
}
